.login-container {
    display: flex;
    justify-content: center;
    height: 65vh;
    margin: 4rem;
}

.login-container .text-center {
    width: 300px;
}

.text-tiny {
    font-size: 0.8rem;
    line-height: 1.1rem !important;
    display: block !important;
    margin-bottom: 0 !important;
    padding: 1rem !important;
}
